body {
    background: #111 no-repeat;
    background-image: -webkit-gradient(radial, 50% 0, 150, 50% 0, 300, from(#444), to(#111));
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h1, h2, h3 {
    text-align: center;
    color: #FFF;
}

h2 a {
    color: #0184e3;
    text-decoration: none;
}

h2 a:hover {
    color: #0184e3;
    text-decoration: underline;
}

h3 a {
    color: #00e8ff;
    text-decoration: none;
}

h3 a:hover {
    color: #00e8ff;
}

.container {
    width: 960px;
    margin: auto;
    color: #FFF;
    font-size: 25px;
}

.container h3 {
    font-size: 20px;
}

#apiDiv {
    border: dashed 2px #CCC;
    padding: 10px;
    padding-left: 20px;
}

#apiDiv input, #apiDiv button {
    font-size: 25px;
    color: #000;
}

#apiDiv h4 {
    margin: 10px 0;
}

#apiDiv .imageDiv {
    text-align: center;
}

#apiDiv .imageDiv img {
    display: none;
}

#apiDiv #message {
    padding-top: 10px;
}

#apiDiv #message .resultDiv {
    background: #FFF;
    display: inline-block;
}

#apiDiv #message .resultDiv > p {
    color: #000;
    display: inline-block;
    width: 95%;
    padding: 10px;
    border-bottom: double 2px #CCC;
}

#apiDiv #message .resultDiv .result {
    width: 23%;
    height: 300px;
    padding: 6px;
    float: left;
    text-align: center;
    cursor: pointer;
}

#apiDiv #message .resultDiv .result img {
    width: 75%;
}

#apiDiv #message .resultDiv .result p {
    margin: 0;
}

#apiDiv #message .resultDiv .result p a {
    color: #808080;
    text-decoration: none;
    font-size: 20px;
    height: 100px;
}

#apiDiv #message .resultDiv .result p a:hover {
    text-decoration: underline;
}

#monModal {
    color: #000;
}

#reset {
    padding: 5px 10px;
    background: #4CAF50;
    border: none;
    color: #FFF;
    cursor: pointer;
}

#reset:hover {
    color: #4CAF50;
    background: #FFF;
}


/*monMondal*/
.modal-confirm {
    color: #434e65;
    width: 525px;
}
.modal-confirm .modal-content {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
.modal-confirm .modal-header {
    background: #47c9a2;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
}
.modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}
.modal-confirm .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    text-shadow: none;
    opacity: 0.5;
}
.modal-confirm .close:hover {
    opacity: 0.8;
}
.modal-confirm .icon-box {
    color: #fff;
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 15px;
    text-align: center;
}
.modal-confirm .icon-box i {
    font-size: 64px;
    margin: -4px 0 0 -4px;
}
.modal-confirm.modal-dialog {
    margin-top: 80px;
}
.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #eeb711;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border-radius: 30px;
    margin-top: 10px;
    padding: 6px 20px;
    border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background: #eda645;
    outline: none;
}
.modal-confirm .btn span {
    margin: 1px 3px 0;
    float: left;
}
.modal-confirm .btn i {
    margin-left: 1px;
    font-size: 20px;
    float: right;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}