﻿<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<html>
<head>
    <title>recherche film</title>
    <meta charset="utf-8"/>
    <!--<link rel="icon" type="image/png" href="http://www.yogihosting.com/wp-content/themes/yogi-yogihosting/Images/favicon.ico" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"
          th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<h1>Recherche Film</h1>

<button id="reset">Reset »</button>
</h2>
<!--<h3>Important Link - <a href="http://www.yogihosting.com/jquery-ajax/">jQuery AJAX</a></h3>-->
<div class="container">
    <div id="apiDiv">
        <h4>entrez le titre d'un film </h4>
        <input type="text" id="searchInput" placeholder="recherche Film"/>
        <button id="submit">Recherche</button>

        <div id="message">
        </div>
    </div>
    <ul id="pagination"></ul>
</div>
<style type="text/css">


</style>
<!-- Modal HTML -->
<div id="monModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                    <i class="material-icons">&#xE876;</i>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-center">
                <h4>Génial!</h4>
                <p>Votre film a été importé!!!</p>
                <a class="btn btn-success" id="boutonSucces"><span>voir le film</span> <i class="material-icons">&#xE5C8;</i></a>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modalTitleH4"></h4>
            </div>
            <div class="modal-body" id="modalBodyDiv">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button  type="button" id="ajout-film" class="btn btn-success" data-loading-text="<i class='fa fa-spinner fa-spin '></i>">Ajouter à ma liste de film</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="JS/jquery.twbsPagination.js"></script>
<script>
    $(document).ready(function () {
        $("#reset").click(function (e) {
            location.reload();
        });

        $("#submit").click(function (e) {
            var validate = Validate();
            $("#message").html(validate);
            if (validate.length == 0) {
                CallAPI(1);
            }
        });

        $("#message").on("click", ".result", function () {
            var resourceId = $(this).attr("resourceId");
            $.ajax({
                url: "https://api.themoviedb.org/3/movie/" + resourceId + "?language=fr-FR",
                data: {
                    api_key: "1348a42689a984e53728a4b3e41f7e11"
                },
                dataType: 'json',
                success: modalDialog,
                error: modalErreur
            });
        });

        function modalErreur(xhr, status, error) {
            $("#message").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
        }

        function onSuccessAddFilm(result) {
            $("#myModal").modal("hide");
            $("#monModal").modal("show");
            $("#boutonSucces").attr("href", "/film/detail/" + result.id);
        }

        function modalDialog(result) {
            $("#modalTitleH4").html(result["title"]);

            var image = result["poster_path"] == null ? "images/no-image.png" : "https://image.tmdb.org/t/p/w500/" + result["poster_path"];
            var overview = result["overview"] == null ? "No information available" : result["overview"];
            var genres = result["genres"] == null ? "No information available" : result["genres"];
            var compagni = result["production_companies"] == null ? "No information available" : result["production_companies"];
            var idt = result["id"] == null ? "No information available" : result["id"];
            $("#ajout-film").on("click", function () {
                var $this = $(this);
                $this.button('loading');
                setTimeout(function() {
                    $this.button('reset');
                }, 500000);

                $.ajax({
                    url: "/api/film/tmdb/" + idt,
                    type: 'GET',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: onSuccessAddFilm
                });
            })

            let genresNom = "";
            for (var i = 0; i < genres.length; i++) {
                genresNom += genres[i].name + " ";
            }
            let compagni_name = "";
            for (var i = 0; i < compagni.length; i++) {
                compagni_name += compagni[i].name + " ";
            }
            console.log(compagni_name);
            var resultHtml = "<p class=\"text-center\"><img src=\"" + image + "\"/></p><p>Genres de film: " + genresNom + "</p><p>Maison de production: "+compagni_name+"</p><p>Résumé : " + overview + "</p>";
            resultHtml += "<p>Date de sortie: " + result["release_date"] + "</p><p>Popularité: " + result["popularity"] + "";

            $("#modalBodyDiv").html(resultHtml)

            $("#myModal").modal("show");
        }

        $(document).ajaxStart(function () {
            $(".imageDiv img").show();
        });

        $(document).ajaxStop(function () {
            $(".imageDiv img").hide();
        });

        function CallAPI(page) {
            $.ajax({
                url: "https://api.themoviedb.org/3/search/movie?language=fr-FR&query=" + $("#searchInput").val() + "&page=" + page + "&include_adult=false",
                data: {"api_key": "1348a42689a984e53728a4b3e41f7e11"},
                dataType: "json",
                success: onSuccesSearch,
                error: onErrorSearch
            });
        }

        function onSuccesSearch(result) {
            var resultHtml = $("<div class=\"resultDiv\"><p>Names</p>");
            for (i = 0; i < result["results"].length; i++) {

                var image = result["results"][i]["poster_path"] == null ? "images/no-image.png" : "https://image.tmdb.org/t/p/w500/" + result["results"][i]["poster_path"];

                resultHtml.append("<div class=\"result\" resourceId=\"" + result["results"][i]["id"] + "\">" + "<img src=\"" + image + "\" />" + "<p><a>" + result["results"][i]["title"] + "</a></p></div>")
            }

            resultHtml.append("</div>");
            $("#message").html(resultHtml);

            Paging(result["total_pages"]);
        }

        function onErrorSearch(xhr, status, error) {
            $("#message").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
        }

        // si le champs est vide
        function Validate() {
            var errorMessage = "";
            if ($("#searchInput").val() == "") {
                errorMessage += "► Enter Search Text";
            }
            return errorMessage;
        }

        //la pagination
        function Paging(totalPage) {
            var obj = $("#pagination").twbsPagination({
                totalPages: totalPage,
                visiblePages: 5,
                onPageClick: function (event, page) {
                    CallAPI(page);
                }
            });
        }

    });
</script>
</body>
</html>
